In [1]:
import pandas as pd
import numpy as np
import statistics as st

df = pd.read_csv("loan.csv")

print(df.shape)

(500, 15)

In [2]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         500 non-null    int64
 1   Loan_ID            500 non-null    object
 2   Gender             491 non-null    object
 3   Married            497 non-null    object
 4   Dependents         488 non-null    object
 5   Education          500 non-null    object
 6   Self_Employed      473 non-null    object
 7   ApplicantIncome    500 non-null    int64
 8   CoapplicantIncome  500 non-null    float64
 9   LoanAmount         482 non-null    float64
 10  Loan_Amount_Term   486 non-null    float64
 11  Credit_History     459 non-null    float64
 12  Property_Area      500 non-null    object
 13  Loan_Status        500 non-null    object
 14  Total_Income       500 non-null    object
dtypes: float64(4), int64(2), object(9)
memory usage: 58.7+ KB
None

In [6]:
# Convert Total_Income to string, remove dollar signs, and convert back to numeric
df['Total_Income'] = df['Total_Income'].astype(str).replace('[\$,]', '', regex=True).astype(float)

# Calculate the mean of numeric columns only
df.select_dtypes(include=['int64', 'float64']).mean()

Unnamed: 0            249.500000
ApplicantIncome      5493.644000
CoapplicantIncome    1506.307840
LoanAmount            144.020747
Loan_Amount_Term      342.543210
Credit_History          0.843137
Total_Income         6999.951840
dtype: float64

In [8]:
df.select_dtypes(include=['int64', 'float64']).max()

Unnamed: 0             499.0
ApplicantIncome      81000.0
CoapplicantIncome    20000.0
LoanAmount             700.0
Loan_Amount_Term       480.0
Credit_History           1.0
Total_Income         81000.0
dtype: float64

In [11]:
df.select_dtypes(include=['int64', 'float64']).min()

Unnamed: 0              0.0
ApplicantIncome       150.0
CoapplicantIncome       0.0
LoanAmount             17.0
Loan_Amount_Term       12.0
Credit_History          0.0
Total_Income         1442.0
dtype: float64

In [13]:
df.select_dtypes(include=['int64', 'float64']).median()

Unnamed: 0            249.5
ApplicantIncome      3854.0
CoapplicantIncome    1125.5
LoanAmount            126.5
Loan_Amount_Term      360.0
Credit_History          1.0
Total_Income         5332.5
dtype: float64

In [16]:
df.select_dtypes(include=['int64', 'float64']).std()

Unnamed: 0            144.481833
ApplicantIncome      6515.668972
CoapplicantIncome    2134.432188
LoanAmount             82.344919
Loan_Amount_Term       63.834977
Credit_History          0.364068
Total_Income         6605.759256
dtype: float64

In [ ]:
print(df['LoanAmount'].mean())

In [17]:
# Ensure all columns used in the calculation are numeric
df_numeric = df.select_dtypes(include=['int64', 'float64'])
df_numeric.mean(axis=1)[0:5]

0    2009.833333
1    1810.285714
2     918.428571
3    1480.857143
4    1786.571429
dtype: float64

In [ ]:
print(df.loc[:, 'LoanAmount'].median())

In [19]:
df_numeric.median(axis=1)[0:5]

0    180.5
1    360.0
2     66.0
3    360.0
4    141.0
dtype: float64

In [21]:
df.select_dtypes(include=['int64', 'float64']).var()

Unnamed: 0           2.087500e+04
ApplicantIncome      4.245394e+07
CoapplicantIncome    4.555801e+06
LoanAmount           6.780686e+03
Loan_Amount_Term     4.074904e+03
Credit_History       1.325456e-01
Total_Income         4.363606e+07
dtype: float64

In [22]:
df[["Gender","LoanAmount"]].groupby("Gender").mean()

        LoanAmount
Gender
Female  121.068182
Male    147.197403

In [23]:
df[["Gender","LoanAmount"]].groupby("Gender").median()

        LoanAmount
Gender
Female       115.5
Male         128.0

In [24]:
df[["Self_Employed","LoanAmount"]].groupby("Self_Employed").mean()

               LoanAmount
Self_Employed
No             141.836735
Yes            155.312500